/* ##########################  logo  ########################### */
@font-face {
	font-family: "Titillium";
	src: url('../fonts/titillium-light-webfont.woff2') format('woff2'),
	url('../fonts/titillium-light-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/titillium-light-webfont.woff') format('woff');
}
@font-face {
	font-family: "Titillium";
	src: url('../fonts/titillium-regular-webfont.woff2') format('woff2'),
	url('../fonts/titillium-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/titillium-regular-webfont.woff') format('woff');
	font-weight: bold;
}
@font-face {
	font-family: "Titillium";
	src: url('../fonts/titillium-bold-webfont.woff2') format('woff2'),
	url('../fonts/titillium-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/titillium-bold-webfont.woff') format('woff');
	font-weight: 900;
}

.banner{
	background: rgba(16, 37, 63, 0);
}

#logoheader
{
	z-index: 10000;
	pointer-events: none;
	position: fixed;
	background:    URL(../images/logo_menu/Logo_Metexplore.png) no-repeat center center;
	background-size: 79%;
	background-color:transparent;
	width: 100px;
	height: 81px;
	margin: 0;
	right: 14px;
	padding: 0;
	text-align: left;
	margin-top:0;
	margin-left:0px;
}



#logotitre
{
	background-color:transparent;
	font-size:25pt;
	color:white;			/*#0F243E;*/
	/*padding:0.5em 20px 20px 10px;*/
	font-weight:normal;
	margin-top: 4px;
	margin-left: 35px;
	margin-right: 10px;
	border-width:0px;
	font-family: 'Titillium',  Arial;
}

#versionAppli
{
	position: fixed;
	left: 195px;
}

#biosourcetitre
{
	background-color:transparent;
	font-family: 'Titillium',  Arial;
	font-size:15pt;
	color:white;			/*#0F243E;*/
	margin:100px;
	padding:0.5em 20px 20px 10px;
	font-weight:normal;
	margin-top:3px;
	border:0;
}

#menu
{
	opacity:0.9;
	/*padding:0.5em 20px 20px 10px;*/
	font-weight: 100;
	font-size: 16px;
	margin-left: 50px;
	border-width:0px;
	background-color: #fff0;
}

#menu .x-btn-default-toolbar-large{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: 3px;
	background-color: rgba(16, 37, 63) !important;
	background-image: none;
}
#menu .x-btn-default-toolbar-large .x-btn-inner{
	color: #FFF;
	font-family: 'Titillium',  Arial;
	font-size: 16px;
	font-weight: normal;
}

#menu .x-btn-default-toolbar-large:hover {
	background-color: rgba(20, 71, 120) !important;
	background-image: none;
}
#menu .x-btn-default-toolbar-large:active {
	background-color: rgb(95, 130, 163) !important;
	background-image: none;
}


#login
{
	/*background:rgba(255, 255, 255, 0);*/
	font-family: 'Titillium Maps',  Arial;
	font-size:8pt;
	padding:0px 0px 0px 0px;
	margin-top:0px;
	opacity:0.8;
}
#loginUsername, #loginPassword
{
	/*background:rgba(255, 255, 255, 0);*/
	font-family: 'Titillium Maps',  Arial;
	font-size:8pt;

}
#nameUser
{
	/*background:rgba(255, 255, 255, 0);*/
	font-family: 'Titillium Maps',  Arial;
	font-size:10pt;
	
	margin:100px;
	padding:0.5em 20px 20px 10px;
	font-weight:normal;
	margin-top:3px;
}

